:root {
   --pointColor01: #79926B;
   --pointColor02: #505B40;
   --pointColor03: #ECEAD0;
   --pointColor03: #F6F1EC;
   --subColor01: #202020;
   --subColor02: #484848;
   --subColor03: #707070;
   --subColor04: #AEAEAE;
   --subColor05: #E4E4E4;
   --subColor06: #FCFCFC;
   --subColor07: #f5f5f5;
   --subColor08: #d8d8d8;
   --subColor09: #f06000;
   --subColor10: #fbfbfe;
   --subColor11: #fbfbff;
   --subColor12: #f8f8f8;
}
#root{
   overflow: hidden;
   width: 100%;
}
.container{
   max-width: 1440px;
   margin-left: auto;
   margin-right: auto;
}


/* tablet, mobile */
@media screen and (max-width:1279px){

}